@font-face {
    font-family: Joan;
    src: url("assets/fonts/Joan-Regular.ttf");
   }
@media all and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }  
  .section {
      width: 100%;
    }
    .nav {
      display: none;
    }
  }
* {
  box-sizing: border-box;
  }
body {
  width: 100%;
  background-color: aquamarine;
  font-family: 'Lora', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  min-height: 100vh;
  margin: 5px; 
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header {
  width: 100%;
  position: fixed;
  padding: 0px 0px 0px 0px;
  background-color: #8af89a;
  }
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.main {
  padding: 0px auto;
  display: block;
}
.main-container {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer {
  width: 100%;
  background-color: #8af89a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.github-link {
  color: black;
}
.rss {
  text-align: center;
    }
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
  }
 .link:hover {
  color: #5d7260;
  }
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px
  }
  .nav-link:hover {
  transition: .3s;
  }
.section {
  width: 50%;
  display: inline-block;
  padding: 0px 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid #000000;
  }
.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
  }
h2 {
  text-align: center;
  }
.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
  }
.section-item a:hover {
  color: #4d2323;
  }
html {
  scroll-behavior: smooth; 
  }
h1 {
  color: rgb(105, 34, 78);
  text-align: center;
}
p {
  font-family: 'Times New Roman', Times, serif ;
  font-size: large;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer-img {
  mix-blend-mode: multiply;
}
a {
  text-decoration: none;
}