body {
    background-color:  #4290e9;
}
h1 {
    color: rgb(105, 34, 78);
    text-align: center;
}
#p01 {
    color: rgb(253, 253, 5);
    font-size: larger;
}
p {
    font-family: 'Times New Roman', Times, serif ;
    font-size: large; 
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
